 <div class="row-fluid">
  <div class="span10" >
    <h4>Graph of sessions for multiple devices</h4>
  </div>
 <div class="row-fluid">
  <div class="span10">Find Device by IpAddr: <input type="search" ng-model="ipaddr" ></input>
    <div class="btn-group">
      <button class="btn btn-primary" ng-click="getDevices()">Search</button>
      <button class="btn btn-primary" ng-click="getLocalDevices()">Get All Local Devices</button>
      <button class="btn btn-primary" ng-click="getRemoteDevices()">Get All Remote Devices</button>
    </div>
  </div>
 <div class="row-fluid" >
	<div class="span4">Matching devices: {{deviceCnt}} <img src="images/loader.gif" ng-show="cntLoading" />
  </div>
 </div>
 <dsa-timespan-picker ng-controller="TimespanPickerCtrl">
 </dsa-timespan-picker>
 <br />
 <div class="row-fluid" >
   <div class="btn-group" class="span4">
      <button class="btn btn-primary" ng-click="plotGraph()">Plot Graph</button>
      <button class="btn btn-primary" ng-click="startLayout()">Start Layout</button>
      <button class="btn btn-primary" ng-click="stopLayout()">Stop Layout</button>
   </div>
 </div>
 <div class="row-fluid" ng-show="graphLoading" > 
  <div class="span1">
    <img src="images/loader.gif" />
  </div>
  <div class="span2" > Retrieved: {{retrieved}}/{{totalRequests}} </div>
  <div class="span3" ><progress percent='percentRetrieved'></progress>
  </div>
 </div>
 <div class="row-fluid">
		<div class="span10 buttons-container">Direction Filter: 
		  <div class="btn-group">
			 <button class="btn btn-primary" ng-model="filter" btn-radio="'from'" ng-click="filterSessions('from')">Outgoing</button>
			 <button class="btn btn-primary" ng-model="filter" btn-radio="'to'" ng-click="filterSessions('to')">Incoming</button>
			 <button class="btn btn-primary" ng-model="filter" btn-radio="'both'" ng-click="filterSessions('both')">Both</button>
			 <button class="btn btn-primary" ng-model="filter" btn-radio="'all'" ng-click="filterSessions('all')">Show All</button>
	 	  </div>
		</div>
  </div>
  <div class="row-fluid">    
  	<!--
	<div class="span12"><canvas id="keyCanvas" ng-mouseenter="stopLayout()" ng-mouseleave="startLayout()" width="350" height="15"></canvas>
	</div>
-->
	<div class="span10" ><canvas id="keyCanvas" width="350" height="15"></canvas>
	</div>
	<div class="span 10 sigma-parent" id="sessionGraphParent">
		<div class="sigma-graph" id="sessionGraph" >
    </div>
	</div>
