<h2>Enter Device Selection Criteria</h2>
Enter IpAddr Filter: <input type="search" ng-model="ipaddr" ></input><br />
Enter Port Used: <input type="search" ng-model="port" ></input><br />
Enter Protocol Used: <input type="search" ng-model="protocol" ></input>
<br/>
<button class="btn btn-primary" ng-click="getDevices()">Find Devices</button>
<br/>
<div class="btn-group">
    <button class="btn btn-primary" ng-click="getLocalDevices()">Show All Local Devices</button>
    <button class="btn btn-primary" ng-click="getRemoteDevices()">Show All Remote Devices</button>
</div>
<br />
<p>Query: {{data.query}}</p>
<img src="images/loader.gif" ng-show="data.loading" />
<table class="table">
    <tr><th>Id</th><th>Hostname</th><th>Description</th><th>IpAddr</th></tr>
    <tr ng-repeat="device in data.devices"><td><a ng-click="addDevice(device.deviceId)" href="#/device/{{device.deviceId}}">{{device.deviceId}}</td><td>{{device.hostName}}</td><td>{{device.description}}</td><td>{{device.ipaddr[0].ipAddr}}</td></tr>
</table>