<div>
  <img src="images/loader.gif" ng-show="loading" />
  <h3 ng-bind="detail.device.hostName"></h3>
  <h4 ng-show="hasDescription">Description</h4>
  <p ng-bind="detail.device.description"></p>
</div>
<div >
  <h4>Session Filter Criteria</h4>
	<p>Select an IP address</p>
	<span ng-repeat="ipaddr in detail.device.ipaddr">
		<input type="radio" name="ipAddr" ng-model="$parent.sessionParams.ipAddr" ng-value="ipaddr.ipAddr" /> {{ipaddr.ipAddr}}</span>
</div>
<br/>
<dsa-timespan-picker ng-controller="TimespanPickerCtrl">
</dsa-timespan-picker>
<br/>
<div ng-controller="sessionTabCtrl" >
  <tabset >
    <tab heading="Select a Tab:" >
    </tab>
  	<tab heading="Protocols used by host" select="setProtocols()" active="navTabs.tabs[navTabs.protoTab].active" >
      <p><button class="btn" ng-click="setProtocols()"><i class="icon-refresh"></i></button> Protocols used by device {{timePhrase}}</p>
      <img src="images/loader.gif" ng-show="loading" />
        <table class="table table-striped table-bordered" ng-hide="loading">
          <tr><th>Protocol</th><th>Num Sessions</th></tr>
          <tr ng-repeat="proto in detail.device.protocols">
            <td>{{proto.protocol.name}}</td>
            <td ><a href="#/sessionDetail/?srcIpAddr={{$parent.sessionParams.ipAddr}}&deviceId={{$parent.detail.id}}&start={{sessionParams.start}}&end={{sessionParams.end}}&protocol={{proto.protocol.name}}">{{proto.sessionCount}}</a></td>
          </tr>
        </table>
		</tab>
    <tab heading="Ports used by host" select="setPorts()" active="navTabs.tabs[navTabs.portTab].active" >
      <p><button class="btn" ng-click="setPorts()"><i class="icon-refresh"></i></button> Ports used by device {{timePhrase}}</p>
      <img src="images/loader.gif" ng-show="loading" />
        <table class="table table-striped table-bordered" ng-hide="loading">
          <tr><th>Port</th><th>Num Sessions</th></tr>
          <tr ng-repeat="port in detail.device.ports">
            <td>{{port.port.port}}</td>
            <td ><a href="#/sessionDetail/?srcIpAddr={{$parent.sessionParams.ipAddr}}&deviceId={{$parent.detail.id}}&start={{sessionParams.start}}&end={{sessionParams.end}}&protocol={{proto.protocol.name}}">{{port.sessionCount}}</a></td>
          </tr>
        </table>
    </tab>
    <tab heading="Websites Visited from {{webAddress}}" select="setSessions(navTabs.webTab)" active="navTabs.tabs[navTabs.webTab].active">
    		<h3>Websites visited from {{webAddress}}</h3>
    		<br />
    		<img src="images/loader.gif" ng-show="loading" />
    		<table class="table table-striped table-bordered" >
    			<tr><th>Address</th><th>Uri</th><th>Referers</th><th>Devices</th></tr>
    			<tr ng-repeat="website in detail.device.websites" >
    				<td>{{website.address}}</td>
    				<td><ul class="list-unstyled" ng-repeat="uri in website.uris">{{uri.path}}</ul></td>
    				<td><ul class="list-unstyled" ng-repeat="referer in website.referers">{{refer.address}}</ul></td>
    				<td><ul class="list-unstyled" ng-repeat="device in website.devices">{{device.hostName}}</ul></td>
          </tr>
    		</table>
    </tab>
    <tab heading="All Sessions" select="setSessions(navTabs.allTab)" active="navTabs.tabs[navTabs.allTab].active" >
	     	 <div ng-include src="navTabs.tabs[navTabs.allTab].url" class="all"></div>
    </tab>
    <tab heading="Outgoing Sessions" select="setSessions(navTabs.fromTab)" active="navTabs.tabs[navTabs.fromTab].active">
	     	 <div ng-include src="navTabs.tabs[navTabs.fromTab].url" class="from"></div>
    </tab>
    <tab heading="Incoming Sessions" select="setSessions(navTabs.toTab)" active="navTabs.tabs[navTabs.toTab].active">
     	 <div ng-include src="navTabs.tabs[navTabs.toTab].url" class="to"></div>
    </tab>
  </tabset>
</div>			
