		<div>
		<h3>Sessions {{direction}} {{ipAddress}}</h3><button class="btn" ng-click="refresh()"><i class="icon-time"></i></span>	

		<!--
		Show:<div >
			<input type="radio" name="graphTable" ng-model="graphTable" ng-change="showGraphTable(graphTable)" value="graph"> Graph</input>
			<input type="radio" name="graphTable" ng-model="graphTable" ng-change="showGraphTable(graphTable)" value="table"> Table</input>
			<input type="radio" name="graphTable" ng-model="graphTable" ng-change="showGraphTable(graphTable)" value="both"> Both</input>
		</div>
	-->
		<button class="btn btn-default" ng-click="showSessionGraph()">Show Graph</button>
		<div>
		<!--
		<div class="sigma-parent" ng-hide="tableOnly" >
			<div class="sigma-graph" id="fromSessionGraph" ng-show="graph == 'fromSessionGraph'" ></div>
			<div class="sigma-graph" id="toSessionGraph" ng-show="graph == 'toSessionGraph'" ></div>
			<div class="sigma-graph" id="allSessionGraph" ng-show="graph == 'allSessionGraph'" ></div>
		</div>
	--> <br />
		<img src="images/loader.gif" ng-show="loading" />
		<table class="table table-striped table-bordered" >
			<tr><th>Start Time</th><th>End Time</th>
			<th>Source</th><th>Destination</th>
			<th>Web Address</th><th>Count</th></tr>
		<tr ng-repeat="session in currentSessions">
			<td >{{session.earliest * 1000 | date: 'yyyy-MMM-dd HH:mm:ss'}}</td>
			<td >{{session.latest * 1000 | date: 'yyyy-MMM-dd HH:mm:ss'}}</td>
			<td >{{showSessionSrc(session)}}</td>
			<td >{{showSessionDest(session)}}</td>
			<td >{{session.webAddress}} </td>
			<td ><a href="#/sessionDetail/{{session.srcIpAddr}}?destIpAddr={{session.destIpAddr}}&start={{session.earliest}}&end={{session.latest}}">{{session.numSessions}}</a></td>
		</tr>
	</table>
