<div class="container-fluid" >
 <div class="row-fluid" >
  <div class="span2" >
	<h2>{{detail.device.hostName}}</h2>
	<h4>Description</h4>
	<p>{{detail.device.description}}</p>
  </div>
  <div class="span10">
  	<h3>Session Filter Criteria</h3>
  	<div class="row-fluid" >
		<p>Select an IP address</p>
		<span ng-repeat="ipaddr in detail.device.ipaddr"><input type="radio" name="ipAddr" ng-model="$parent.ipAddr" ng-value="ipaddr.ipAddr" /> {{ipaddr.ipAddr}}</span>
	</div>
	<hr/>
	<div class="row-fluid" >
  	<div class="span6" >
		<h4>Enter start date and time:</h4>
	    <div class="form-horizontal">
	        <input type="text" datepicker-popup="yyyy-MM-dd" ng-model="fromDate" is-open="fromOpened" datepicker-options="dateOptions" ng-required="true" />
	        <button class="btn" ng-click="fromOpen()"><i class="icon-calendar"></i></button>
	    </div>
	    <div class="input-append bootstrap-timepicker">
            <input id="fromTimepicker" type="text" class="input-small" />
            <span class="add-on"><i class="icon-time"></i></span>
        </div>
	</div>
	<div class="span6" >
		<h4>Enter end date and time</h4>
	    <div class="form-horizontal">
	        <input type="text" datepicker-popup="yyyy-MM-dd" ng-model="toDate" is-open="toOpened" datepicker-options="dateOptions" ng-required="true" />
	        <button class="btn" ng-click="toOpen()"><i class="icon-calendar"></i></button>
	    </div>
	    <div class="input-append bootstrap-timepicker">
            <input id="toTimepicker" type="text" class="input-small" />
            <span class="add-on"><i class="icon-time"></i></span>
        </div>
	</div>
	<!--
<br />
		<button class="btn btn-default" ng-click="getWebSitesVisitedByHost()">Show Web Sites Visited By Host</button>
		<button class="btn btn-default" ng-click="getWebSitesVisitedByIp(ipAddr)">Show Websites</button>
		<button class="btn btn-default" ng-click="getSessionsByIp(ipAddr)">All Sessions</button>
		<button class="btn btn-default" ng-click="getSessionsBySrcIp(ipAddr)">Outgoing Sessions</button>
		<button class="btn btn-default" ng-click="getSessionsByDestIp(ipAddr)">Incoming Sessions</button>
<br />
-->
	<div class="row-fluid">
	  <tabset>
	  	<tab heading="Protocols used by host" active="navTabs.tabs[navTabs.protoTab].active" >
			<li ng-repeat="proto in detail.device.protocols">
				{{proto.name}}
			</li>
		</tab>
	    <tab heading="Websites Visited from {{webAddress}}" select="setSessions(navTabs.webTab)" active="navTabs.tabs[navTabs.webTab].active">
		<h3>Websites visited from {{webAddress}}</h3>
		<table class="table table-striped table-bordered">
			<tr><th>Address</th><th>Uri</th><th>Referers</th><th>Devices</th></tr>
			<tr ng-repeat="website in detail.device.websites" >
				<td>{{website.address}}</td>
				<td><ul class="list-unstyled" ng-repeat="uri in website.uris">{{uri.path}}</ul></td>
				<td><ul class="list-unstyled" ng-repeat="referer in website.referers">{{refer.address}}</ul></td>
				<td><ul class="list-unstyled" ng-repeat="device in website.devices">{{device.hostName}}</ul></td>
		</table>
	    	
	    </tab>
	    <tab heading="All Sessions" select="setSessions(navTabs.allTab)" active="navTabs.tabs[navTabs.allTab].active">
	     	 <div ng-include src="navTabs.tabs[navTabs.allTab].url" ></div>
	    </tab>
	    <tab heading="Outgoing Sessions" select="setSessions(navTabs.fromTab)" active="navTabs.tabs[navTabs.fromTab].active">
	     	 <div ng-include src="navTabs.tabs[navTabs.fromTab].url"></div>
	    </tab>
	    <tab heading="Incoming Sessions" select="setSessions(navTabs.toTab)" active="navTabs.tabs[navTabs.toTab].active">
	     	 <div ng-include src="navTabs.tabs[navTabs.toTab].url"></div>
	    </tab>
	  </tabset>
	</div>			
 </div>
</div>
