		<h3>Sessions {{direction}} {{ipAddress}}</h3>
		Show:<div >
			<input type="radio" name="graphTable" ng-model="graphTable" ng-change="showGraphTable(graphTable)" value="graph"> Graph</input>
			<input type="radio" name="graphTable" ng-model="graphTable" ng-change="showGraphTable(graphTable)" value="table"> Table</input>
			<input type="radio" name="graphTable" ng-model="graphTable" ng-change="showGraphTable(graphTable)" value="both"> Both</input>
		</div>
		<div class="sigma-parent" ng-hide="tableOnly" >
			<div class="sigma-graph" id="sessionGraph" ></div>
		</div>
		<table class="table table-striped table-bordered" ng-hide="graphOnly"><tr><th>Start Time</th><th>End Time</th>
			<th>Source</th><th>Destination</th>
			<th>Web Address</th><th>Count</th></tr>
		<tr ng-repeat="session in currentSessions">
			<td >{{session.earliest * 1000| date: 'short'}}</td>
			<td >{{session.latest * 1000 | date: 'short'}}</td>
			<td >{{showSessionSrc(session)}}</td>
			<td >{{showSessionDest(session)}}</td>
			<td >{{session.webAddress}} </td>
			<td ><a href="#/sessionDetail/{{session.srcIpAddr}}?destIpAddr={{session.destIpAddr}}&start={{session.earliest}}&end={{session.latest}}">{{session.numSessions}}</a></td>
		</tr>
	</table>
