		<h3>Sessions {{direction}} {{ipAddress}}</h3>
		<table class="table table-striped table-bordered"><tr><th>Start Time</th><th>End Time</th>
			<th>Source</th><th>Destination</th>
			<th>Web Address</th><th>Count</th></tr>
		<tr ng-repeat="session in sessions">
			<td >{{session.earliest | date: 'short'}}</td>
			<td >{{session.latest | date: 'short'}}</td>
			<td >{{showSessionSrc(session)}}</td>
			<td >{{showSessionDest(session)}}</td>
			<td >{{session.webAddress}} </td>
			<td >{{session.numSessions}}</td>
		</tr>
	</table>
